{% if quote.quoteItems %}
    <h2>Products</h2>
    <table>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Vat Rate</th>
            <th>Unit price (net)</th>
            <th>Unit price (gross)</th>
            <th>Total price (net)</th>
            <th>Total price (gross)</th>
        </tr>
        {% for item in quote.quoteItems %}
            {% set product = item.product %}
            <tr>
                <td>{{ item.product.quantity }}x</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price.vatRate }}%</td>
                <td>{{ (item.price.unitPriceNet / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (item.price.unitPriceGross / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (item.price.totalPriceNet / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (item.price.totalPriceGross / 100)|format_currency(quote.currency) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Sub total</td>
            <td>{{ (quote.subTotalNet / 100)|format_currency(quote.currency) }}</td>
            <td>{{ (quote.subTotalGross / 100)|format_currency(quote.currency) }}</td>
        </tr>
        {% for additional_cost in quote.additionalCosts %}
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">{{ additional_cost.label }}</td>
                <td>{{ (additional_cost.amountNet / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (additional_cost.amountGross / 100)|format_currency(quote.currency) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Total</td>
            <td>{{ (quote.totalNet / 100)|format_currency(quote.currency) }}</td>
            <td>{{ (quote.totalGross / 100)|format_currency(quote.currency) }}</td>
        </tr>
    </table>
{% endif %}
