{% if quote.quoteItems %}
    <h3>Products</h3>
    <table style="width:100%">
        <tr>
            <th style="border-bottom: 1px solid black"></th>
            <th style="text-align:left;border-bottom: 1px solid black">Item</th>
            <th style="text-align:left;border-bottom: 1px solid black">Vat Rate</th>
            <th style="text-align:left;border-bottom: 1px solid black">Unit price (net)</th>
            <th style="text-align:left;border-bottom: 1px solid black">Unit price (gross)</th>
            <th style="text-align:left;border-bottom: 1px solid black">Total price (net)</th>
            <th style="text-align:left;border-bottom: 1px solid black">Total price (gross)</th>
        </tr>
        {% for item in quote.quoteItems %}
            {% set product = item.product %}
            <tr>
                <td>{{ item.product.quantity }}x</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price.vatRate }}%</td>
                <td>{{ (item.price.unitPriceNet / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (item.price.unitPriceGross / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (item.price.totalPriceNet / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (item.price.totalPriceGross / 100)|format_currency(quote.currency) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td style="border-top: 1px solid black">&nbsp;</td>
            <td style="border-top: 1px solid black" colspan="4">Sub total</td>
            <td style="border-top: 1px solid black">{{ (quote.subTotalNet / 100)|format_currency(quote.currency) }}</td>
            <td style="border-top: 1px solid black">{{ (quote.subTotalGross / 100)|format_currency(quote.currency) }}</td>
        </tr>
        {% for additional_cost in quote.additionalCosts %}
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">{{ additional_cost.label }}</td>
                <td>{{ (additional_cost.amountNet / 100)|format_currency(quote.currency) }}</td>
                <td>{{ (additional_cost.amountGross / 100)|format_currency(quote.currency) }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td style="border-top: 3px double black; font-weight: bold" colspan="4">Total</td>
            <td style="border-top: 3px double black; font-weight: bold">{{ (quote.totalNet / 100)|format_currency(quote.currency) }}</td>
            <td style="border-top: 3px double black; font-weight: bold">{{ (quote.totalGross / 100)|format_currency(quote.currency) }}</td>
        </tr>
    </table>
{% endif %}
