{% if quote.products %}
    <h2>Products</h2>
    <table>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Vat Rate</th>
            <th>Unit price (net)</th>
            <th>Unit price (gross)</th>
            <th>Total price (net)</th>
            <th>Total price (gross)</th>
        </tr>
        {% for product in quote.products %}
            <tr>
                <td>{{ product.product.quantity }}x</td>
                <td>{{ product.product.name }}</td>
                <td>{{ product.price.vatRate }}%</td>
                <td>{{ product.price.unitPriceNet / 100 }} {{ product.price.currency }}</td>
                <td>{{ product.price.unitPriceGross / 100 }} {{ product.price.currency }}</td>
                <td>{{ product.price.totalPriceNet / 100 }} {{ product.price.currency }}</td>
                <td>{{ product.price.totalPriceGross / 100 }} {{ product.price.currency }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Sub total</td>
            <td>{{ quote.subTotalNet / 100 }}</td>
            <td>{{ quote.subTotalGross / 100 }}</td>
        </tr>
        {% for additional_cost in quote.additionalCosts %}
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">{{ additional_cost.label }}</td>
                <td>{{ additional_cost.amountNet / 100 }} {{ additional_cost.currency }}</td>
                <td>{{ additional_cost.amountGross / 100 }} {{ additional_cost.currency }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Total</td>
            <td>{{ quote.totalNet / 100 }}</td>
            <td>{{ quote.totalGross / 100 }}</td>
        </tr>
    </table>
{% endif %}
{% if quote.subscriptions %}
    <h2>Subscriptions</h2>
    <table>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Price</th>
            <th>Interval</th>
        </tr>
        {% for subscription in quote.subscriptions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ subscription.subscription.name }}</td>
                <td>-</td>
                <td>-</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
